.date{
	padding:5px;
	border-radius: 5px;
	   border: 2px solid #e7e7e7;
	margin-bottom: 10px;
	width: 100px;
}
.wrapper-date{
	padding-left: 25px;
}

.nav-container h6{
	
font-size: 20px;
}	


.center{
	line-height: center;
}
.image{
	float: left;
}
.username{
	float: left;
	padding-left: 5px;
	/*padding-top: 5px;*/
}
.item-admin{
	clear: both;
}
.image img{
	width: 100%;
	height: 100%;
}
ul{
	
	margin: 0px auto;
	list-style: none;

}
.container-fluid li{
	margin-top: 10px;
	padding-left: 10px;
}
.container-fluid li a:hover{
	color: #4a494a;
	font-weight: bold;
}
.active2 {
	font-weight: bold;
	text-decoration: underline;
}
.account label{
	width: 200px;
	font-weight: 100;
}
.account input {
	padding:5px;
}



